<!doctype html>
<html lang="en" class="h-100">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="d-flex h-100 text-center text-white bg-dark">

    <%- include('../partials/contenedor'); %>

    <%- include('../partials/modal'); %>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://getbootstrap.com/docs/5.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://cuatroymedio.net/test/maestria/mijotaesenode.js"></script>

    <script>
        $(document).ready(function () {
            // console.log( "ready!" );
            $("#modalenviarpape").modal('show');
        });
    </script>

</body>

</html>