<div class="modal fade" id="modalenviarpape" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-hidden="true" aria-labelledby="modalmensajeLabel222">
    <div class="modal-dialog modal-dialog-centered">
        <div id="divcontenidomodalpape" class="modal-content">

            <div id="modalenviarpapeheader" class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="modalmensajeLabel222"><i class="bi bi-info-circle-fill"></i>unir</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div id="contenidomodalenviarpape" class="modal-body text-center">
                <h5 class="text-dark"> ¿Realmente desea eliminar a ??</h5>
            </div>

            <br />
            <br />

        </div>
    </div>
</div>